# Google Gemini IA - Chatbot
# Obtén tu API key en: https://aistudio.google.com/app/apikey
GEMINI_API_KEY=tu_api_key_de_gemini_aqui

SECRET_KEY=
DEBUG=
DATABASE_URL=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
CLOUD_SQL_CONNECTION_NAME=
GS_BUCKET_NAME=
GCP_PROJECT_ID=